@tailwind base;
@tailwind components;
@tailwind utilities;



Video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5); 
  filter: brightness(0.7); 
  
}

.content {
position: absolute;
width: 100%;
height: 100%;
display: flex;
font-size: 17px;
flex-direction: column;
align-items: center;
color: rgb(239, 232, 232);

}

.subscribe-button {
  color: rgb(221, 175, 24);
  padding: 0;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 7px 19px;
  cursor: pointer;
  border-radius: 9px;
  background-color: rgba(155, 155, 108, 0.267);
}


.p1 {

  padding-right: 450px; 
  margin-top: 15px;
  color: rgb(226, 217, 217);
  margin-right: 192px;
  margin-bottom: 2px;
}

.p2 {

  margin-right:900px; 
  font-weight: bold;
  position: relative;

}

.p3
{
font-weight: bold;
margin-right: 784px;
margin-top: 20px;
}

.wish{
 
  margin-right: 950px;
  margin-top:180px;

}
.img1{
  margin-right: 950px;
}


.subscribe-btn {
  padding: 12px 80px;
  font-size: 19px;
  font-weight: bold;
  color:rgb(252, 246, 246);
  background-color: rgba(250, 247, 251, 0.2);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: sans-serif;
  margin-right: 729px;
  margin-top: 45px;

}

.subscribe-btn:hover {
  background-color: rgba(251, 250, 248, 0.314);
}


.plus-btn {
  position: relative;
  font-size: 19px;
  color:rgb(252, 255, 246);
  background-color: rgba(250, 247, 251, 0.2);
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: sans-serif;
  padding: 12px 12px;
  bottom: 52px;
  right: 142px;
  
}

.plus-btn1 {
  position: relative;
  font-size: 15px;
  color:rgb(252, 255, 246);
  background-color: rgba(250, 247, 251, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: sans-serif;
  padding: 1px 1px;
  bottom: 286px;
  right: 340px;
  width: 25px;
  height: 25px;

}

.navbar {
  transition: transform 0.3s ease;
  opacity:1 ;
  transition: 3.3;
}

.navbar {
  opacity: 1;
  transition: opacity 0.3s ease;
} 


  
